*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F3F5FC;
}

.main__container {
    /* margin: 0px 40px; */
    display: flex;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    background-color: #F3F5FC;
}

/*==================== SECCIÓN IZQUIERDA =================*/



.container__izquierda {
    width: 880px;
    display: flex;
    /* justify-content: row; */
}

.container__izquierda img {
    /* width: 20%; */
    height: 15%;
}

.container_izquierda_text {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    width: 60%;
    margin-top: 20%;
    margin-left: 10%;
}


.container_izquierda_text textarea {
    width: 100%;
    height: 70%;
    resize: none;
    background-color: #F3F5FC;
    border-style: none;
    margin-bottom: 3rem;

    color: #0A3871;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 150%;
}

.container_izquierda_text textarea::placeholder {
    color: #0A3871;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 150%;
}

.container_izquierda_text p {
    color: #495057;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 150%;
    gap: 8px;

    margin-bottom: 1rem;
}

.btn {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
}

.btn .btn1 {
    background: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    width: 48%;
    height: 95%;
    color: #fff;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
    text-align: center;
    cursor: pointer;
}

.btn .btn2 {
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;

    width: 48%;
    height: 95%;
    color: #0A3871;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
    text-align: center;
    cursor: pointer;
}



/*==================== SECCIÓN DERECHA =================*/

.container__rectangulo {
    background-color: #fff;
    width: 400px;
    /* height: 940px; */
    border-radius: 2rem;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);

    display: flex;
    flex-direction: column;

    align-items: center;
}

#img {
   /* position: absolute;  */
   height: 50%;
   margin: 100px 0px 32px 37px;
   /* position: relative;
   width: 100%; */
   /* width: 336px; */
}

.container__rectangulo__textos {
    margin: 0 32px
}

.container__rectangulo__textos h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 120%;
    /* or 29px */

    text-align: center;

    /* Gray/gray-500 */

    color: #343A40;
}

.container__rectangulo__textos p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */

    text-align: center;

    /* Gray/gray-400 */

    color: #495057;

    margin-top: 1rem;
}


.resultado {
    width: 100%;
    /* height: 92%; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.resultado__p {
    width: 90%;
    /* height: 90%; */
    margin: 2rem 0 ;
    word-wrap: break-word;

    font-family: 'Inter';
    font-style: normal;
    color: #495057;

    font-size: 1.5em;
    line-height: 1.5em;
}
.resultado__button {
    width: 80%;
    padding: 1.5rem;
    
    background-color: transparent;
    color: #0A3871;
    border: 1px solid #0A3871;
    font-size: 1rem;

    border-radius: 1.5rem;

    cursor: pointer;
}
.resultado__button:hover {
    background-color: #E9ECF8;
}

/* Clases para activar y desactivar contenido */
.disable {
    display: none;
}

/*================= VERSIÓN TABLET ================*/

@media (max-width:960px) {

    .main__container {
        margin: 73.42px 40px 40px 40px;
        display: flex;
        flex-direction: column;
        background-color: #F3F5FC;
    }

/* SECCIÓN IZQUIERDA */

    .container__izquierda {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .container__izquierda img {
        width: 20%;
        object-fit: cover;
        margin-top: 50px;
        margin-left: 8px;
    }

    .container_izquierda_text {
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        width: 100%;
        height: 697px;
        margin-top: 15%;
        margin-left: 0px;
    }


/* SECCIÓN DERECHA */

    .container__rectangulo {
        width: 100%;
        height: 133px;
        margin-top: 64px;
    }

    #img {
        display: none;

     }

     .container__rectangulo__textos {
        padding: 2rem;
    }

    .resultado__p {
        margin: 0 0 2rem 0;
    }

    /* Clases para activar y desactivar contenido */
    .disable {
        display: none;
    }

}


/*================= VERSIÓN MOBILE ================*/

@media (max-width:480px) {

    .main__container {
        margin: 0px 0px 40px 0px;
    }

/* SECCIÓN IZQUIERDA */

    .container__izquierda {
        margin: 0px;
    }

    .container__izquierda img {
        width: 18%;
        margin-top: 24px;
        margin-left: 16px;
    }

    .container_izquierda_text {
        width: 330px;
        height: 491px;
        margin-top: 15%;
        margin-left: 1rem;
        margin-right: 1rem;
    }


    .btn {
        width: 100%;
        height: 158px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .btn .btn1 {
        width: 100%;
        height: 67px;
    }

    .btn .btn2 {
        width: 100%;
        height: 67px;
    }

/* SECCIÓN DERECHA */

    .container__rectangulo {
        width: 327px;
        height: 186px;
        margin-left: 1rem;
    }

    .container__rectangulo__textos {
        width: 100%;
        padding: 32px;
        margin-left: 0px;
    }

    .resultado__p {
        margin: 0 0 2rem 0;
    }

    /* Clases para activar y desactivar contenido */
    .disable {
        display: none;
    }

}